.App {
  text-align: center;
  background-image: url("./img/weather.jpg");
  height: 750px;
  background-position-y: 863px;
}

.row {
  display: flex;
  justify-content: center;
}

body {
  background-repeat: no-repeat;
}

input {
  border: none;
  margin-left: 1%;
}

input:focus {
  background-color: aqua;
}

.footer-bg {
  background-color: #303c42;
}

.footer {
  margin-top: 27%;
  color: #fff;
  font-size: 10px;
  width: 45%;
  /* text-align: center; */
  margin-left: 29%;
}
